.botao-dropdown{	
 margin-left: 20px;
}

.btn-acoes{
 margin-left: 10px;
}

.areaPlus{
 margin-bottom: 15px;
}

.selectFiltro{
 margin-left: 945px;
}

.area_input_busca{
 margin-left: 914px;
 margin-top: -31px;
}

.btn_bscAvancada{
 margin-left: 1032px;
}

.btn_escondeBscAvancada{
 margin-left: 1036px;
 margin-top: -33px;
 margin-bottom: 48px;
}

.form-periodo{
 margin-left: 16px;
 margin-right: -16px;
}

.indicatorDragDrop{
    width: 45px;
}
