.botao-dropdown{	
 margin-left: 20px;
}

.btn-acoes{
 margin-left: 10px;
}


.areaPlus{
 margin-bottom: 15px;
}

.selectFiltro{
 margin-left: 945px;
}

.area_input_busca{
 margin-left: 914px;
 margin-top: -31px;
}

.btn_bscAvancada{
 margin-left: 1032px;
}

.btn_escondeBscAvancada{
 margin-left: 1036px;
 margin-top: -33px;
 margin-bottom: 48px;
}

.form-periodo{
 margin-left: 16px;
 margin-right: -16px;
}

.indicatorDragDrop{
 width: 45px;
}

#btnAddHorario{
 margin-left: -15px;
}

.btnModal{
 margin-right: 250px;
}

.emptyTable {
 font-size: 15px;
 color: orange;
}

.bigWarningSign {
 font-size: 50px;
 color: orange;
}

.btn-acoes-grade-aulas-remove{
	margin-left: 132px;
    position: inherit;
    margin-top: -39px;
}

.btn-acoes-grade-aulas{
	margin-left: -2px;
    margin-top: 0px;
    position: inherit;
}

.img-load{
	margin-left: 1000px;
}

.regiaoImgLoad{
	margin-top: -38px;
    margin-left: 79px;
}

